<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 30px">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              File
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              View
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Navigation
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Help
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<nav class="navbar navbar-expand-lg navbar-light" style="height: 40px">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto col-sm-3 col-md-10">
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="../img/icons8-home.svg" alt="" class="icon network" data-toggle="popover"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="../img/cell-tower-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="../img/terminal-svgrepo-com.svg" alt="" class="icon terminal" data-toggle="popover"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="../img/phonebook-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="../img/letter-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="../img/radar-positioning-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="../img/download-from-the-cloud-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="../img/download-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover"></a>
        </li>
      </ul>
      <span class="navbar-text">
        <span style="font-size: 20px;margin-right: 5px">Оператор</span>
        <img src="../img/signals/no_signal.svg" alt="" class="icon signal">
      </span>
    </div>
</nav>
<h1 style="padding-left: 10px">Соединение</h1>