* {
    margin: 0;
    padding: 0;
  }
  html,
  body,
  .wrapper {
    height: 100%;
    background-color: #AAAAAA;
  }

  body{
    padding:0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

  .content {
    box-sizing: border-box;
    min-height: 75%;
    background-color: #BBBBBB;
    margin: 10px;
    padding: 10px;
  }
  .header {
    min-height: 10%;
    padding: 0px;
  }
  .footer {
    min-height: 5%;
    padding: 10px;
    margin-top: -10px;
  }

  .nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  .icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }

  .signal {
    width: 30px;
    height: 30px;
  }

  textarea {
    width: 745px !important;
  }

  #at_cmd_list {
    font-size: 12px;
    overflow-y: auto;
    height: 474px;
  }

  .at-cmd {
    background-color: #BBBBBB;
  }

  .panel-menu {
    margin-top: -5px !important;
    border-radius: 0px !important;
  }

  .indicator  {
    width: 50px !important;
  }

  .indicator-init {
    background-color: #edecec;
  }

  .indicator-success {
    background-color: #99FF99;
  }

  .indicator-error {
    background-color: #f56951;
  }

  .panel {
    height: 750px !important;
  }

  #sms_text {
    width: 447px !important;
    height: 390px !important;
  }

  #sms2_text {
    width: 634px !important;
    height: 187px !important;
  }

  .icons-link:hover {
    background-color: #999999;
  }

  /* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}
/* ============ small devices .end// ============ */