<div class="panel panel-default main-panel" id="panel-home">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <h4>COM Порт</h4>
        <div class="row row-2 row-cols-2">
            <div class="col-2">Порт:</div>
            <div class="col-2" id="home_panel-port"></div>
        </div>
        <div class="row row-2 row-cols-2">
            <div class="col-2">Baud rate:</div>
            <div class="col-2" id="home_panel-baudrate"></div>
        </div>
        <div class="row row-2 row-cols-2">
            <div class="col-2">Flow control:</div>
            <div class="col-2" id="home_panel-flow_control"></div>
        </div>
        <div class="row row-2 row-cols-2">
            <div class="col-2">Биты данных:</div>
            <div class="col-2" id="home_panel-data_bits"></div>
        </div>
        <div class="row row-2 row-cols-2">
            <div class="col-2">Стоп биты:</div>
            <div class="col-2" id="home_panel-stop_bits"></div>
        </div>
        <div class="row row-2 row-cols-2">
            <div class="col-2">Четность:</div>
            <div class="col-2" id="home_panel-parity"></div>
        </div>
        <div class="row row-2 row-cols-2 mb-1">
            <div class="col-2">Статус:</div>
            <div class="col-2" id="home_panel-status"></div>
        </div>
        <div class="row-sm">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#com_config_modal">Установить порт</button>
                <button class="btn btn-primary" disabled id="connect_port" mode="connect">Подключиться</button>
            </div>
        </div>
    </div>
</div>