<div class="panel panel-default main-panel" id="panel-network" style="display: none">
    <div class="panel-heading">
        <h3>Сетевая информация</h3>
        <button class="btn btn-sm btn-secondary" id="network-refresh_info">Обновить информацию</button>
    </div>
    <div class="panel-body">
        <div class="container-xl">
            <div class="row row-cols-4">
                <div class="col col">Оператор:</div>
                <div class="col col" id="network-operator">---</div>
                <div class="col col-8"> </div>
                <div class="col col-8"> </div>
            </div>
            <div class="row row-cols-4">
                <div class="col col-sm">Статус регистрации:</div>
                <div class="col col-sm" id="network-reg_status">---</div>
                <div class="col col-lg"></div>
                <div class="col col-lg"></div>
            </div>
            <div class="row row-cols-4">
                <div class="col col-sm">Режим выбора оператора:</div>
                <div class="col col-sm" id="network-operator_select_mode">---</div>
                <div class="col col-lg"></div>
                <div class="col col-lg"></div>
            </div>
            <div class="row row-cols-4">
                <div class="col col-sm">RSSI:</div>
                <div class="col col-sm">---</div>
                <div class="col col-lg"></div>
                <div class="col col-lg"></div>
            </div>
            <div class="row row-cols-4">
                <div class="col col-sm">RAT:</div>
                <div class="col col-sm">---</div>
                <div class="col col-lg"></div>
                <div class="col col-lg"></div>
            </div>
            <div class="row row-cols-4">
                <div class="col col-sm">LAC:</div>
                <div class="col col-sm" id="network-lac">---</div>
                <div class="col col-lg"></div>
                <div class="col col-lg"></div>
            </div>
            <div class="row row-cols-4">
                <div class="col col-sm">CI:</div>
                <div class="col col-sm" id="network-ci">---</div>
                <div class="col col-lg"></div>
                <div class="col col-lg"></div>
            </div>
            <div class="row row-cols-2">
                <div class="col col-5">
                    <div class="row">
                        <div class="column">
                            <span style="margin-right: 34px"><b>Список сетевых операторов</b></span>
                            <button class="btn btn-sm btn-secondary" id="network-get_operators_btn">Получить список</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col col-7">
                    <div class="row">
                        <div class="column">
                            <span style="margin-right: 356px"><b>Инициализация профиля пакетной передачи данных</b></span>
                            <button class="btn btn-sm btn-secondary">Обновить</button>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row row-cols-2">
                <div class="col col-5">
                    <table class="table table-bordered table-hover" id="network-operators_table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название</th>
                            <th scope="col">ID</th>
                            <th scope="col">Статус</th>
                            <th scope="col">AcT</th>
                          </tr>
                        </thead>
                        <tbody style="height: 300px; overflow-y: auto;">
                        </tbody>
                    </table>
                </div>
                <!-- <div class="col col-7">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Тип</th>
                            <th scope="col">ID</th>
                            <th scope="col">APN</th>
                            <th scope="col">Имя пользователя</th>
                            <th scope="col">IP адрес</th>
                          </tr>
                        </thead>
                        <tbody style="display: block; height: 300px;">
                        </tbody>
                    </table>
                </div> -->
            </div>
            <div class="row row-cols-2">
                <div class="col col-5">
                    <div class="row">
                        <div class="column">
                            <button class="btn btn-sm btn-secondary" id="network-select_operator">Выбор оператора</button>
                            <button class="btn btn-sm btn-secondary">Авто режим</button>
                            <button class="btn btn-sm btn-secondary">Отключение</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col col-7">
                    <div class="row">
                        <div class="column">
                            <button class="btn btn-sm btn-secondary">Редактировать</button>
                            <button class="btn btn-sm btn-secondary">Активация/Деактивация</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>