<div class="panel panel-default main-panel" id="panel-phonebook" style="display: none">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="row row-cols-2">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <h4>Телефонная книга SIM</h4>
                        <button class="btn btn-sm btn-light">Получить контакты</button>
                    </div>
                    <div class="row p-2">
                        <table class="table-bordered" style="background-color: aliceblue;">
                            <thead class="table-light">
                                <th>#</th>
                                <th>Номер</th>
                                <th>Имя</th>
                            </thead>
                            <tbody style="height: 640px; overflow-y: auto;">

                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-start btn-group" role="group">
                        <button class="btn btn-sm btn-light me-2">Добавить</button>
                        <button class="btn btn-sm btn-light me-2">Редактировать</button>
                        <button class="btn btn-sm btn-light me-2">Удалить</button>
                        <button class="btn btn-sm btn-light me-2">SMS</button>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex justify-content-between">
                        <h4>Последние совершенные вызовы</h4>
                        <button class="btn btn-sm btn-light">Получить вызовы</button>
                    </div>
                    <div class="row p-2">
                        <table class="table-bordered" style="background-color: aliceblue;">
                            <thead class="table-light">
                                <th>#</th>
                                <th>Номер</th>
                                <th>Имя</th>
                            </thead>
                            <tbody style="height: 640px; overflow-y: auto;">

                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-start">
                        <button class="btn btn-sm btn-light col-2">SMS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>