<div class="panel panel-default main-panel" id="panel-sms" style="display: none">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="row row-cols-2">
                <div class="col col-5">
                    <h5>Отправить текстовое сообщение</h5>
                    <p>Номер телефона для отправки</p>
                    <input type="text" name="" id="sms_phone_number" class="form-control col-sm">
                    <p>Текст</p>
                    <textarea name="sms_text" id="sms_text" cols="20" rows="10" class="form-control"></textarea>
                    <div class="d-flex justify-content-end pt-1">
                        <button class="btn btn-sm btn-secondary me-1" id="clear_sms_text">Очистить</button>
                        <button class="btn btn-sm btn-secondary" id="send_sms">Отправить</button>
                    </div>
                    <h5 class="mt-3">Серсвисный центр коротких сообщений</h5>
                    <p>Номер</p>
                    <input type="text" name="" id="sms-sms_number" class="form-control col-sm">
                    <div class="d-flex justify-content-end pt-1">
                        <button class="btn btn-sm btn-secondary" id="sms-set_sms_number">Установить</button>
                    </div>
                </div>
                <div class="col col-7">
                    <div class="d-flex justify-content-between">
                        <h5>Список сообщений</h5>
                        <button class="btn btn-sm btn-secondary" id="sms-get_sms_list">Обновить</button>
                    </div>

                    <table class="table table-bordered" id="sms-sms_table" style="
                        background-color: white;
                        overflow: auto;
                        height: 22em !important;
                    ">
                        <thead class="table-light">
                            <th>#</th>
                            <th>Номер</th>
                            <th>Дата</th>
                            <th>Статус</th>
                        </thead>
                        <tbody style="
                            height: 320px;
                            overflow-y: scroll;
                        ">
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end pt-1">
                        <button class="btn btn-sm btn-secondary" id="sms-answer_sms">Ответить</button>
                        <button class="btn btn-sm btn-secondary">Удалить</button>
                        <button class="btn btn-sm btn-secondary">Удалить все</button>
                    </div>
                    <p>Текст</p>
                    <textarea name="sms2_text" id="sms2_text" cols="20" rows="10" class="form-control"></textarea>
                    <div class="d-flex justify-content-between mt-1">
                        <p>СМС оповещение</p>
                        <button class="btn btn-sm btn-secondary">Включить</button>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" readonly value="" id="rts1">
                        <label class="form-check-label" for="rts1">
                            Автоматическое чтение RX СМС
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>