
<div class="row row-cols-2">
    <div class="col col-md">
        <p id="status_string">AT: COM1 19200 8 none Flow ctrl: hardware - нет соединения</p>
    </div>
    <div class="col col-md">
        <div class="row row-cols-6">
            <div class="col col-xs p-0 ps-2 pe-2">
                <div class="indicator indicator-init text-center" id="dcd">DCD</div>
            </div>
            <div class="col col-xs p-0 ps-2 pe-2">
                <div class="indicator indicator-init text-center" id="ri">RI</div>
            </div>
            <div class="col col-xs p-0 ps-2 pe-2">
                <div class="indicator indicator-init text-center" id="dsr">DSR</div>
            </div>
            <div class="col col-xs p-0 ps-2 pe-2">
                <div class="indicator indicator-init text-center" id="cts">CTS</div>
            </div>
            <div class="col col-xs p-0 ps-2 pe-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" readonly value="" id="dtr">
                    <label class="form-check-label" for="dtr">
                        DTR
                    </label>
                    </div>
            </div>
            <div class="col col-xs p-0 ps-2 pe-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" readonly value="" id="rts">
                    <label class="form-check-label" for="rts">
                        RTS
                    </label>
                    </div>
            </div>
        </div>
    </div>
</div>
