
<!-- Main menu panel -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 30px">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Файл
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <!-- <li><a class="dropdown-item" href="#">Открыть рабочую папку</a></li>
              <li><a class="dropdown-item" href="#">Открыть папку скриптов</a></li>
              <li><a class="dropdown-item" href="#">Открыть папку приложения</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Восстановить настройки по умолчанию</a></li>
              <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="#">Выход</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Отображение
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Hex режим терминала</a></li>
              <li><a class="dropdown-item" href="#">Timestamp терминала</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Timestamp лога</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Навигация
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Соединение</a></li>
              <li><a class="dropdown-item" href="#">Сетевая информация</a></li>
              <li><a class="dropdown-item" href="#">Терминал ввода АТ-команд</a></li>
              <li><a class="dropdown-item" href="#">Телефонная книга</a></li>
              <li><a class="dropdown-item" href="#">СМС</a></li>
              <!-- <li><a class="dropdown-item" href="#">Позиционирование</a></li> -->
              <li><a class="dropdown-item" href="#">FOTA</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Настройки
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="nav-item dropdown">
                <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Определение модема</a>
                <ul class="submenu dropdown-menu">
                  <li><a class="dropdown-item" href="#">GSMA Model ATI7</a></li>
                </ul>

              </li>
              <li><a class="dropdown-item" href="#">Отключить ECHO модема</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Символ терминатора строки</a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" href="#">Submenu item 1</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Help
            </a>
            <ul class="dropdown-menu panel-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Центр помощи</a></li>
              <li><a class="dropdown-item" href="#">О программе</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Navigation icons panel -->
<nav class="navbar navbar-expand-lg navbar-light background-white" style="height: 40px">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: space-between; padding-right: 10px;">
      <ul class="navbar-nav mr-auto col-sm-3 col-md-10">
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="Соединение" data-bs-content="Соединение" id="panel_switch__connection">
            <img src="../img/icons8-home.svg" alt="" class="icon network" data-toggle="popover">
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="Сеть" data-bs-content="Сеть" id="panel_switch__network">
            <img src="../img/cell-tower-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover">
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="AT терминал" data-bs-content="AT терминал" id="panel_switch__at_terminal">
            <img src="../img/terminal-svgrepo-com.svg" alt="" class="icon terminal" data-toggle="popover">
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="Телефонная книга" data-bs-content="Телефонная книга" id="panel_switch__phone_book">
            <img src="../img/phonebook-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover">
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="СМС" data-bs-content="СМС" id="panel_switch__sms">
            <img src="../img/letter-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover">
          </a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="Popover Header" data-bs-content="Позиционирование" id="panel_switch__positioning">
            <img src="../img/radar-positioning-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover">
          </a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link icons-link panel-switcher" href="#" data-bs-toggle="popover" title="FOTA" data-bs-content="FOTA" id="panel_switch__fota">
            <img src="../img/download-from-the-cloud-svgrepo-com.svg" alt="" class="icon network" data-toggle="popover">
          </a>
        </li>
      </ul>
      <span class="navbar-text">
        <span style="font-size: 20px;margin-right: 5px" id="operator"></span>
        <img src="../img/signals/no_signal.svg" alt="" class="icon signal" id="signal_power">
      </span>
    </div>
</nav>
<h1 id="panel_heading" class="text-white" style="padding-left: 10px">Соединение</h1>