<!-- COMPORT config modal -->
<div class="modal fade" id="com_config_modal" tabindex="-1" aria-labelledby="com_config_modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Настройка порта</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="con_config_alert" style="display: none"></div>
                <div class="row row-cols-2">
                    <div class="col-5">
                        <h6>AT порт</h6>
                        <div class="row row-sm row-cols-2">
                            <div class="col col-xs">Порт:</div>
                            <div class="col col-xs"><input class="form-control p-0" type="text" readonly name="port_name" id="port_name"></div>
                        </div>
                        <div class="row row-sm row-cols-2" style="display: none">
                            <div class="col col-xs">Описание:</div>
                            <div class="col col-xs"><input class="form-control p-0" type="text" readonly name="description" id="description"></div>
                        </div>
                        <div class="row row-sm row-cols-2">
                            <div class="col col-xs">Скорость:</div>
                            <div class="col col-xs"><select class="form-select form-select-sm mb-3 p-0" name="baudrate" id="baudrate"></select></div>
                        </div>
                        <div class="row row-sm row-cols-2">
                            <div class="col col-xs">Контроль потока:</div>
                            <div class="col col-xs"><select class="form-select form-select-sm mb-3 p-0" name="flow_control" id="flow_control"></select></div>
                        </div>
                        <div class="row row-sm row-cols-2">
                            <div class="col col-xs">Биты данных:</div>
                            <div class="col col-xs"><select class="form-select form-select-sm mb-3 p-0" name="data_bits" id="data_bits"></select></div>
                        </div>
                        <div class="row row-sm row-cols-2">
                            <div class="col col-xs">Стоп биты:</div>
                            <div class="col col-xs"><select class="form-select form-select-sm mb-3 p-0" name="stop_bits" id="stop_bits"></select></div>
                        </div>
                        <div class="row row-sm row-cols-2">
                            <div class="col col-xs">Четность:</div>
                            <div class="col col-xs"><select class="form-select form-select-sm mb-3 p-0" name="parity" id="parity"></select></div>
                        </div>
                    </div>
                    <div class="col-7">
                        <h6>Список портов</h6>
                        <table class="table table-bordered" id="com_ports_table">
                            <thead class="table-light">
                                <th>Порт</th>
                                <th>Имя устройства</th>
                            </thead>
                            <tbody style="height: 190px !important; overflow-y: auto; overflow-x: auto" id="com_ports_table_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="comport_cancel">Отмена</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="comport_ok">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- send escape sequence to terminal-->
<div class="modal fade" id="escape_seq_modal" tabindex="-1" aria-labelledby="escape_seq_modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h6>Выберите escape последовательность для отправки</h6>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary escape_seq_btn" mode="escape" data-bs-dismiss="modal">Escape</button>
                <button type="button" class="btn btn-primary escape_seq_btn" mode="ctrl+z" data-bs-dismiss="modal"">Ctrl-Z</button>
            </div>
        </div>
    </div>
</div>

<!-- edit cmds-->
<div class="modal fade" id="edit_cmds_modal" tabindex="-1" aria-labelledby="edit_cmds_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Изменение команд</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <h6>Группа <span id="edit_cmds-group_name"></span></h6>
                <div class="row">
                    <div class="col-md-7 bg-white border">
                        <ul class="list-group list-group-flush" id="edit_cmds-cmd_list" style="height: 100% !important;">
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="btn-group-vertical">
                            <button class="btn btn-secondary m-1" id="edit_cmd-moveup">Передвинуть выше</button>
                            <button class="btn btn-secondary m-1" id="edit_cmd-movedn">Передвинуть ниже</button>
                            <button class="btn btn-secondary m-1" id="edit_cmd-edit">Редактировать</button>
                            <button class="btn btn-secondary m-1" data-bs-toggle="modal" data-bs-target="#add_cmd_modal">Добавить</button>
                            <button class="btn btn-secondary m-1" data-bs-toggle="modal" data-bs-target="#copy_to_cmd_modal">Копировать в...</button>
                            <button class="btn btn-secondary m-1" data-bs-toggle="modal" data-bs-target="#move_to_cmd_modal">Переместить в...</button>
                            <button class="btn btn-secondary m-1" id="edit_cmd-delete">Удалить</button>
                            <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-light">
                <div style="width: 100% !important;"">
                    <h6 class="">Описание команды</h6>
                </div>
                <div id="edit_cmd-cmd_description" style="width: 100% !important; height: 7vh;">

                </div>
            </div>
        </div>
    </div>
</div>


<!-- edit cmd-->
<div class="modal fade" id="edit_cmd_modal" tabindex="-1" aria-labelledby="edit_cmd_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Изменение команды</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row row-cols-2">
                    <div class="col-2">
                        <p>Команда</p>
                        <p>Описание</p>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" id="edit_cmd_cmd">
                        <input type="text" class="form-control" id="edit_cmd_text">
                    </div>
                </div>

            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-primary" id="edit_cmd_ok" data-bs-dismiss="modal">OK</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<!-- new cmd-->
<div class="modal fade" id="add_cmd_modal" tabindex="-1" aria-labelledby="add_cmd_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Добавить команду</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row row-cols-2">
                    <div class="col-2">
                        <p>Команда</p>
                        <p>Описание</p>
                    </div>
                    <div class="col-10">
                        <input type="text" class="form-control" id="add_cmd_cmd">
                        <input type="text" class="form-control" id="add_cmd_text">
                    </div>
                </div>

            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-primary" id="add_cmd_ok" data-bs-dismiss="modal">OK</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<!-- copy cmd to-->
<div class="modal fade" id="copy_to_cmd_modal" tabindex="-1" aria-labelledby="copy_to_cmd_modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Копировать в...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                        <select name="" id="copy_to_gorup_sel" class="form-select">
                            <option value=""></option>
                        </select>
                </div>

            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-primary" id="copy_to_gorup_ok" data-bs-dismiss="modal">OK</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<!-- move cmd to-->
<div class="modal fade" id="move_to_cmd_modal" tabindex="-1" aria-labelledby="move_to_cmd_modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Переместить в...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <select name="" id="move_to_gorup_sel" class="form-select">
                        <option value=""></option>
                    </select>
                </div>

            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-primary" id="move_to_gorup_ok" data-bs-dismiss="modal">OK</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>


<!-- edit cmds groups -->
<div class="modal fade" id="edit_cmds_groups_modal" tabindex="-1" aria-labelledby="edit_cmds_groups_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Изменение групп команд</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <div class="col-md-7 bg-white border">
                        <ul class="list-group list-group-flush" id="edit_cmds_groups-groups_list" style="height: 100% !important;">
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="btn-group-vertical">
                            <button class="btn btn-secondary m-1" id="edit_cmds_groups-moveup">Передвинуть выше</button>
                            <button class="btn btn-secondary m-1" id="edit_cmds_groups-movedn">Передвинуть ниже</button>
                            <button class="btn btn-secondary m-1" id="rename_group_btn">Переименовать</button>
                            <button class="btn btn-secondary m-1" id="add_group_btn">Добавить</button>
                            <button class="btn btn-secondary m-1" id="edit_cmds_groups-delete">Удалить</button>
                            <input id="fileInput" type="file" style="display:none;" />
                            <button class="btn btn-secondary m-1" id="edit_cmds_groups-save" >Сохранить</button>
                            <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<!-- rename cmd -->
<div class="modal fade" id="rename_group_modal" tabindex="-1" aria-labelledby="rename_group_modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Переименовать группу команд</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <input type="text" class="form-control" id="rename_group_input">
                </div>

            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-primary" id="rename_group_ok">OK</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<!-- new group-->
<div class="modal fade" id="add_group_modal" tabindex="-1" aria-labelledby="add_group_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Добавить команду</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <input type="text" class="form-control" id="add_group_input">
                </div>

            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-primary" id="add_group_ok" data-bs-dismiss="modal">OK</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<!-- save group-->
<div class="modal fade" id="save_group_modal" tabindex="-1" aria-labelledby="save_group_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Сохранить группу команду  в файл</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <div class="col-4">
                        <p>Название файла</p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="save_group_input">
                        <div class="alert alert-danger" id="save_group_alert" role="alert" style="display: none">
                            Необходимо указать имя файла
                          </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-primary" id="save_group_ok">OK</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

